.MuiFormLabel-root{
    color: #ffffff !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
}
.MuiInputBase-root{
    font-family: 'Poppins', sans-serif !important;
    color: #ffffff !important;
}
.MuiFormLabel-root.Mui-focused{
    font-family: 'Poppins', sans-serif !important;
    color: #ffffff !important;
}

@media(max-width: 1279px) {
    .MuiFormLabel-root{
        color: #8000ff !important;
        font-family: 'Poppins', sans-serif !important;
        font-weight: 400;
    }
    .MuiInputBase-root{
        font-family: 'Poppins', sans-serif !important;
        color: #8000ff !important;
    }
    .MuiFormLabel-root.Mui-focused{
        font-family: 'Poppins', sans-serif !important;
        color: #8000ff !important;
    }
}