.body{
    margin: 0;
    padding: 0;
    background-color: #eeeeed;
}
.IDE{
   padding: 5vh 2.5vw 5vh 7.5vw;
   width: 99vw;
   overflow: hidden;
}
.inputDiv{
    height: 50%;
    width: 100%;
}
.outputDiv{
    height: 50%;
    width: 100%;
}
@media (min-width: 600px) {
    .MuiListItem-gutters{
        padding-left: 25px !important;
    }
}